<!DOCTYPE html>
<html>
<head>
	<title>
		authenticate
	</title>
</head>
<body>
   <nav>
   	  <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/auth/login">Login</a></li>
   	  	<li><a href="/auth/logout">Logout</a></li>
   	  </ul>
   </nav>
   <header>
   		<h1> ALO</h1>
   		<h1>LOgin</h1>
   </header>
   <main>
    <a href="/auth/google">
       <button class="google-btn"> 
         Google+
      </button>
    </a>	
   </main>
</body>
</html>